    /* переменные */
    
    $accent-cl: #2196F3;
    $black: #000000;
    $gray: #757575;
    $white: #ffffff;
    $white-gray: rgba(255, 255, 255, 0.6);
    $bg-box: #2F303A;
    $h-color:#212121;
    $bg-btn:#F5F4FA;
    $cl-icon:#AFB1B8;
    $bg-icon:rgba(255, 255, 255, 0.1);
    $cubic:cubic-bezier(0.4, 0, 0.2, 1);
    $time:250ms;
    $mainFont: 'Roboto', sans-serif;
    $mobile:450px;
    $tablet:738px;
    $desktop:1200px;
    