@import "./variables";
@import "./base/normalize";
@import "./base/fonts";

@import "./components/general";
@import "./components/page_header";
@import "./components/page_footer";


@import "./components/index_section_1";
@import "./components/index_modal";
@import "./components/icons_social_network";
@import "./components/index_section_2";
@import "./components/index_section_3";
@import "./components/index_section_4";
@import "./components/index_section_5";
@import "./components/portfolio_section_1";
@import "./components/portfolio_section_2";