.features-set{
    @extend %list;
    @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -5px;
    }
    @media screen and (min-width: $desktop) {
  
        margin: -10px;
        }
    }
    
    .features-item{
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        color: $white;
        font-size: 32px;
        @media screen and (min-width: $tablet) {
            
            flex-basis: calc((100% - 2 * 10px)/2);
            margin: 5px;
            }
        @media screen and (min-width: $desktop) {
            flex-basis: calc((100% - 6* 10px)/3);
            margin: 10px;
            }
        @media screen and (max-width: 737px) {

            &:not(:last-child){
                margin-bottom: 20px;
            }
    }
}
   

    
    $colors: "#F44336","#3f51b5","#4CAF50","#00BCD4","#E91E63","#009688";
    @include colorize($colors,".features-item");
    