/*Задать box-sizing: border-box;
чтобы все внутренние отступы и границы всчитывались в размеры
элемента. */
html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
box-sizing: inherit;
}
/*Базовое оформление*/
body {
    margin: 0;
    font-family: $mainFont;
    font-style: normal;   
  
}

// body.modal-open {
//     overflow: hidden;
// }
img{
    
    display: block;
    max-width: 100%;
    height: auto;
}

.a-link {
    display: block;
    text-decoration: none;
    
}

.feautures-item, .revews-set{
    padding: 0;
    margin: 0;
    list-style: none;
}

// .nav{
//     position: relative;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
// }
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    list-style: none;

    @include for-size(mobile) {
        width: $mobile;
        // outline: 2px solid sienna;
    }
    @include for-size(tablet) {
        width: $tablet;
        // outline: 2px solid blue;
    }
    @include for-size(desktop) {
        width: $desktop;
        // outline: 2px solid green;
    }
}
// использование миксина заменяет следующий код:
    // @media screen and (min-width: $mobile) {
        
    // // }
    // @media screen and (min-width: $tablet) {
    //     width: $tablet;
    //     outline: 2px solid blue;
    // }
    // @media screen and (min-width: $desktop) {
    //     width: $desktop;
    //     outline: 2px solid green;

    // }


.center-container {
    display: flex;
    list-style: none;
    justify-content:space-between;   
}
.section{
    padding-top: 94px;
    // padding-bottom: 47px;
}
section.title {
    margin-top: 0;
    margin-bottom: 24px;
}
.page-header{
    border-bottom: 2px solid #ECECEC;
    position: relative;
}

.page-header .nav{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include for-size(desktop){
        min-height: 80px;
    }
    @include for-size(tablet-only){
        min-height: 60px;
    }

}

// // usage
// .my-box {
//     padding: 10px;
//     @include for-size(tablet) {
//       padding: 20px;
//     }
//   }