/*Задать box-sizing: border-box;
чтобы все внутренние отступы и границы всчитывались в размеры
элемента. */
html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
box-sizing: inherit;
}
/*Базовое оформление*/
body {
    margin: 0;
    font-family: $mainFont;
    font-style: normal;       
}


img{
    
    display: block;
    max-width: 100%;
    height: auto;
}
.center-container {
    display: flex;
    list-style: none;
    padding: 0px 15px 0px 15px;
    
}
.a-link {
    display: block;
    text-decoration: none;
}

.feautures-item, .revews-set{
    padding: 0;
    margin: 0;
    list-style: none;
}

// .nav{
//     position: relative;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
// }
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;


    // display: flex;
    // margin: 0;
 
    // // width: 1200px;
    // padding: 0 15px;
    // justify-content:space-between;

    // @media screen and (max-width: 450px) {
    //     width: 450px;
    //     outline: 2px solid sienna;
    // }
    @media screen and (min-width: $mobile) {
        width: $mobile;
        outline: 2px solid sienna;
    }
    @media screen and (min-width: $tablet) {
        width: $tablet;
        outline: 2px solid blue;
    }
    @media screen and (min-width: $desktop) {
        width: $desktop;
        outline: 2px solid green;

    }
   
}

.section{
    padding-top: 24px;
    padding-bottom: 24px;
}
section.title {
    margin-top: 0;
    margin-bottom: 24px;
}
.page-header{
    border-bottom: 2px solid black;
    position: relative;
}

.page-header .nav{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80px;
}

