/*Задать box-sizing: border-box;
чтобы все внутренние отступы и границы всчитывались в размеры
элемента. */
html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
box-sizing: inherit;
}
/*Базовое оформление*/
body {
    font-family: $mainFont;
    font-style: normal;       
}
// @media(min-width: 800px) {
//     body {
//         background-color: aqua;
//     }
// }

img{
    
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    // width: 1200px;
    padding: 0 15px;
    justify-content:space-between;

    @media screen and (min-width: 480px) {
        width: 450px;
        outline: 2px solid tomato;
    }
    @media screen and (min-width: 768px) {
        width: 738px;
        outline: 2px solid blue;
    }
    @media screen and (min-width: 1140px) {
        width: 1200px;
        outline: 2px solid green;

    }
   
}

.center-container {
    display: flex;
    list-style: none;
    padding: 0px 15px 0px 15px;
    
}
.a-link {
    display: block;
    text-decoration: none;
}