/********************** СЕКЦИЯ НАШИ ПРЕИМУЩЕСТВА **********************/

.p-advantages {
    
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $gray;

    height: 75px;
    margin: 0;
    margin-top: 10px;
    text-align: justify;
}

.title-h3{
    
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $h-color;
    margin:0;
    padding: 0;
}
.icon1::before{
    background-image: url(../img/advantages-icon1.svg); 
}

.icon2::before{
    background-image: url(../img/advantages-icon2.svg); 
}

.icon3::before{
    background-image: url(../img/advantages-icon3.svg); 
}

.icon4::before{
    background-image: url(../img/advantages-icon4.svg); 
}

.features-set{
    @extend %list;

    @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -5px;
    }
    @media screen and (min-width: $desktop) {
          margin: -15px;
    }
    
} 
    .icon-advantages{
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;

        color: $white;
        font-size: 32px;

      
        @media screen and (min-width: $tablet) {
            
            flex-basis: calc((100% - 4 * 5px)/2);
            margin: 5px;
            }
        @media screen and (min-width: $desktop) {
            // flex-basis: calc((100% - 6* 10px)/3);
            // margin: 10px;
            flex-basis: calc((100% - 8* 15px)/4);
            margin: 15px;

            }
        @media screen and (max-width: 737px) {

            &:not(:last-child){
                margin-bottom: 30px;
            }
        }
    }


.icon-advantages::before{
    content: "";
    display: block;
    margin-bottom: 30px;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-color:$bg-btn;  
}
   
   
    // $colors: "#F44336","#3f51b5","#4CAF50","#00BCD4","#E91E63","#009688";
    // @include colorize($colors,".icon-advantages");
    


/* ***************************************************************** */