
.backdrop {
    position: fixed;
    
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);

    

    @include for-size(tablet-only){
        padding: 15px;
        overflow-y: scroll;
    }
    @include for-size(tablet){
        opacity: 1;
        visibility: visible;
        transition: opacity $time $cubic, visibility $time  $cubic
    }


}
.backdrop.is-hidden{

    @include for-size(tablet-only) {
        display: none;
      }
      @include for-size(tablet) {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
      }
}
.backdrop.is-hidden .modal {
    @include for-size(tablet){
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.2) rotate(180deg);
    }
  }
.modal{

    position: relative;
    width: 450px;
    background-color: $white;
    border-radius: 4px;
   
    @include for-size(mobile){
        position: absolute;  
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) scale(1);
        max-width: 450px;
        height: 609px;
    }

    @include for-size(tablet){
        position: absolute;  
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) scale(1);
        max-width: 450px;
        height: 609px;
    }
    @include for-size(desktop){
        max-width: 528px;
        width: 100%;
        height: 581px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        max-width: 450px;
        width: 100%;      
}
}
.btn-close {
    display: inline-block;
    position: absolute;
    top:8px;
  
    right:  8px;
    width: 30px;
    height: 30px;

    background-image: url(../img/modal-form/close1.svg); 
    border: none;
    background-color: $white;
}
.btn-close:hover,
.btn-close:focus{
    background-image: url(../img/modal-form/close2.svg); 

}
.modal-font{
    @include for-size(tablet-only){
        width: 370px;
        height: 60px;
         padding-bottom: 30px;
    }
    padding-top: 40px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
}

.form-style-input{
    position: relative;
}
.form-icon{
    position: absolute;
    top: 50%;
    left: 56px;
    transform: translateY(-50%);
    display: inline-block;
    width: 18px;
    height: 18px;
    /* background-image: url(../img/modal-form/person-black.svg); */
}


.form-input{
   
    display: flex;
    align-items: center;
    /*margin: 0;
    padding: 0; */
    margin-left: 41px;
    margin-top: 30px;
    @include for-size(mobile){
        width: 370px;
        height: 40px;
    }
    @include for-size(tablet){
        width: 370px;
        height: 40px;
    }
    @include for-size(desktop){
        width: 448px;
        height: 40px;
    }
 



    /* left: 576px;
    top: 382px; */

    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    padding: 0;
    color: $black;
    padding-left: 42px ;
    /* background-image: url(../img/modal-form/person-black.svg); 
    background-repeat: no-repeat; */
    &:focus,
    &:hover {
    outline: none;
    border-color: $accent-cl;
    }

    &:focus ~ .form-icon,
    &:hover ~ .form-icon{
    fill: $accent-cl;
    }
}

.form-label{
    position: absolute;
    transform: translateY(-40px);
    top: 50%;
    left: 41px;

    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.01em;
    color: $gray;
}
.checkbox {
    -webkid-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    top: 0;

}

.checkbox-label {
    position: relative;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    padding: 0;
    top: 20px;
    text-align: center;
    color: $gray;
    
}
.checkbox-icon{

    display:inline-block;
    vertical-align:middle;
    margin-right: 5px;
    background-repeat: no-repeat;
    width: 16px;
    height: 15px;
    padding: 0px;
    background-image: url(../img/modal-form/check1.svg);
}

.checkbox:checked +.checkbox-icon{
    background-image: url(../img/modal-form/check2.svg);
}
.form-link{
    display: inline-block; padding: 0px; margin: 0px;
    margin-top:20px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: $accent-cl;
    padding: 0px;
    margin: 0px;
}
.label-check{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    line-height: 1.714;

    letter-spacing: 0.03em;

    color:$gray;
}



.btn-send{
    font-family: inherit;
    color: $white;
    border-radius: 4px;
    border-color: $accent-cl;
    background-color: $accent-cl;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    margin-top: 50px;
 
    
    width: 200px;
    height: 50px;
    border: 1px solid $accent-cl; 
    &:hover,
    &:focus{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}


.textarea-form{
    @include for-size(mobile){
        width: 370px;
        height: 120px;
    }
    @include for-size(tablet){
        width: 370px;
        height: 120px;
    }
    @include for-size(desktop){
        height: 120px;
        width: 448px;
    }


    resize: none;
    
    display: flex;
    
    margin-left: 41px;
    margin-top: 30px;
    
    
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
   
    color: $black;
    padding-left: 16px;
    padding-top: 12px;
}

