/************************ СЕКЦИЯ НАША КОМАНДА ***********************************/

.team-section{
    
    height: 708px;
    background-color: $bg-btn;
    margin-top: 94px;
    margin-bottom: 0;
    padding-top: 94px;
    text-align: center;
   
}
.team-li {
    
    /* box-shadow: 0px 2px 4px 0px $gray); */
    background-color: white;
    height: 428px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    @media screen and (min-width: 480px) {
        height: 622px;
     
    }
    @media screen and (min-width: 768px) {
        height: 536px;
 
    }
    @media screen and (min-width: 1140px) {
        height: 428px;


    }
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.188;
    letter-spacing: 0.03em;
    color: $h-color;
    padding-top: 20px;
}
.p-position {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.188;
    letter-spacing: 0.03em;
    color: $gray;
    
}
.container-social-network {

    /*outline: 2px solid tomato; */
    width: 270px;
    justify-content:space-between;
    padding: 0;
    @media screen and (min-width: 480px) {
        width: 450px;
        outline: 2px solid tomato;
    }
    @media screen and (min-width: 768px) {
        width: 354px;
        outline: 2px solid blue;
    }
    @media screen and (min-width: 1140px) {
        width: 270px;
        outline: 2px solid green;

    }
}

.center-network {
    display: flex;
    list-style: none;
    padding: 0px 32px 30px 32px;
    
}


.a-link:hover .hover::before{
    transform:translateY(0);  
}


/* ******************************************************************************* */