
/********************** СЕКЦИЯ ЭФФЕКТИВНЫЕ РЕШЕНИЯ **************************/
.effect-solving {
text-align: center;
min-height: 600px;
/* max-width: 1600px; */
margin-left: auto;
margin-right: auto;

background-image: linear-gradient(  
    to right,
    rgba(47,48,58,0.4),
    rgba(47,48,58,0.4)
    ),
    url("../img/back_ground.jpg");
background-color:#2F303A;
background-size: cover;

background-position: center;
padding-top: 200px;
}
.title-h1{

font-weight: 900;
font-size: 44px;
line-height: 1.364;
letter-spacing: 0.06em;
text-transform: uppercase;
width: 696px;
color: $white;

margin: 0 auto;
margin-top: 0;
}

.btn {
    
    font-family: inherit;
    color: $white;
    border-radius: 4px;
    border-color: $accent-cl;
    background-color: $accent-cl;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    margin-top: 30px;
 
    
    width: 200px;
    height: 50px;
    border: 1px solid $accent-cl;
}



/* ********************************************************************** */