
/********************** СЕКЦИЯ ЭФФЕКТИВНЫЕ РЕШЕНИЯ **************************/
.effect-solving {

text-align: center;

/* max-width: 1600px; */
margin-left: auto;
margin-right: auto;
height: 600px;
// background-image: linear-gradient(  
//     to right,
//     rgba(47,48,58,0.4),
//     rgba(47,48,58,0.4)
//     ),
//     url("../img/hero/mobile/img-hero@2x.jpg");
// background-color:#2F303A;
// background-size: cover;
background-position: center;


  @media screen and(max-width: 767px) {
    height: 400px;
    padding-top: 118px;
      background-image: $gradient, url('../img/hero/mobile/img-hero.jpg');
      @media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
        background-image: $gradient, url('../img/hero/mobile/img-hero@2x.jpg');
      }

    }

    @media screen and(min-width: $tablet) {
      padding-top: 118px;
      background-image: $gradient, url('../img/hero/tablet/img-hero.jpg');
      @media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
        background-image: $gradient, url('../img/hero/tablet/img-hero@2x.jpg');
      }
    
    }
    @media screen and(min-width: $desktop) {
      background-size: 1600px 600px;
      padding-top: 200px;
      // height: 600px;
      background-image: $gradient, url('../img/hero/desktop/img-hero.jpg');
      @media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
        background-image: $gradient, url('../img/hero/desktop/Img-hero@2x.jpg');
      }
    


//   @media screen and (min-width: 768px) {
//     background-image: url(../images/headertab.jpg);

//     @media screen and (min-device-pixel-ratio: 2),
//         screen and (min-resolution: 192dpi),
//         screen and (min-resolution: 2dppx) {
//         background-image: url(../images/headertab@2x.jpg);
//     }
// }

// @media screen and (min-width: 1200px) {
//     background-size: 1600px 600px;
//     background-image: url(../images/headerdec.jpg);

//     @media screen and (min-device-pixel-ratio: 2),
//         screen and (min-resolution: 192dpi),
//         screen and (min-resolution: 2dppx) {
//         background-image: url(../images/headerdec@2x.jpg);
//     }
// }
      
  }  


}
.title-h1{

text-align: center;
font-weight: 900;
letter-spacing: 0.06em;
text-transform: uppercase;
@include for-size(desktop){
    width: 696px;

    font-size: 44px;
    line-height: 1.364;

}

@include for-size(tablet){
    width: 360px;
    font-size:26px;
    line-height: 1.615;
}
@include for-size(mobile){
  width: 360px;
  font-size:26px;
  line-height: 1.615;
}
color: $white;

margin: 0 auto;
margin-top: 0;
}

.btn {
    
    font-family: inherit;
    color: $white;
    border-radius: 4px;
    border-color: $accent-cl;
    background-color: $accent-cl;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    margin-top: 30px;
 
    
    width: 200px;
    height: 50px;
    border: 1px solid $accent-cl;
}



/* ********************************************************************** */