/************************ СЕКЦИЯ НАША КОМАНДА ***********************************/

.team-section{
    
    // height: 708px;
    background-color: $bg-btn;
    margin-top: 94px;
    // margin-bottom: 60px;
    padding-bottom: 94px;
    text-align: center;
   
}
.team-img{
    @include for-size(mobile){
        // height: 460px;
        width: 450px;
    }
    @include for-size(tablet){
        // height: 374px;
        width: 354px;
    }
    @include for-size(desktop){
        width: 270px;
        // height: 260px;
    }

}
.team-set{
    @extend %list;
    @include for-size(tablet){
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
    @include for-size(desktop){
             margin: -15px;
    }
} 
.team-li {

    /* box-shadow: 0px 2px 4px 0px $gray); */
    background-color: white;

 
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;


    @include for-size(mobile){
        height: 622px;
        width: 450px;
    }
    @include for-size(tablet){
        height: 536px;
        width: 354px;
        flex-basis: calc((100% - 4 * 15px)/2);
        margin: 15px;
    }
    @include for-size(desktop){
        height: 428px;
        width: 270px;
        flex-basis: calc((100% - 8* 15px)/4);
        margin: 15px;
    }
    @include for-size(tablet-only){
        &:not(:last-child){
            margin-bottom: 30px;
        }
    }
}

.team-name {
    margin: 30px 0 0 0;
    padding: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.188;
    letter-spacing: 0.03em;
    color: $h-color;



}
.p-position {
    margin: 10px 0 16px 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.188;
    letter-spacing: 0.03em;
    color: $gray;
    
}
.container-social-network {

    // outline: 2px solid orangered;
  
    justify-content:space-between;
    padding: 0;


    @include for-size(mobile){
        width: 450px;
        // outline: 2px solid tomato;
    }
    @include for-size(tablet){
        width: 354px;
        // outline: 2px solid blue;
    }
    @include for-size(desktop){
        width: 270px;
        // outline: 2px solid yellow;
    }

}


.center-network {
    display: flex;
    list-style: none;
    @media screen and (min-width: 320px){
        padding: 0px 122px 0px 122px;
    }
    @include for-size(mobile){
        padding: 0px 122px 0px 122px;
    }
    @include for-size(tablet){
        padding: 0px 74px 0px 74px;
    }
    @include for-size(desktop){
        padding: 0px 32px 0px 32px;
    }
    
    
}


.a-link:hover .hover::before{
    transform:translateY(0);  
}


/* ******************************************************************************* */