/********************** оформление текста шапки и подвала***********************/


.button-menu{

    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;

    height: 60px;

    align-items: center;
    justify-content: space-between;
    background-color: transparent;
  
    @include for-size(tablet){
        display: none;
    }
    
}


.button-menu .icon-close{
    display: none;
}
.button-menu.is-open .icon-close{
    display: block;
}
.button-menu.is-open .icon-menu{
    display: none;
}
.button-menu:hover .icon-close{
    fill: $accent-cl;
}
.button-menu:hover .icon-menu{
    fill: $accent-cl;
}

.menu-container{

    padding: 0px;
    border-top: 2px solid #ECECEC;
    background-color: $white;
    
    text-align: center;
    font-size: 18px;
    &.is-open{  
        display: block;
        z-index: 1;

        @include for-size(tablet){
            
            display: inline-flex;
            justify-content: space-between;
            // flex-grow: 1;
        }
    }

    @include for-size(tablet-only){
        display: none;
        height: 393px;
      
            
            
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;

    }
    @include for-size(tablet){
        display: inline-flex;
        justify-content: space-between;
        flex-grow: 2; 
        border-top: 2px solid $white;
    }
}
// .navigation{
//     outline: 1px solid orange;
  
// }
.contacts{

    // outline: 1px solid ci;
    color: $gray;
}

.webstudio {
    
    display: inline-flex;
    font-family: Raleway;
    font-weight: 700;
    font-style: normal;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    text-decoration: none; /* Отменяем подчеркивание у ссылки */  
    align-items: center;
    
}
.webstudio-header {
    color: $black; 
}
.site-nav{
    @extend %list;
 

    @include for-size(tablet){
        .item{
            display: inline-flex;
            align-items: baseline;
            margin-left: 88px;
            font-size: 14px;
        }
        .item:not(:last-child){
            margin-right: 50px;
        }
    }
    @include for-size(tablet-only){
        .item:first-child{
            padding-top: 60px;

        }
      
        .item{
            display: flex;
            justify-content: center;
            padding-bottom: 40px;
         }
    }

}
.auth-nav {
    @extend %list;
    @include for-size(tablet){
        .item{
            display: flex;
            text-align: left;
            font-size: 12px;
            
        }
        
    }
    @include for-size(desktop){
        .item{
            display: inline-flex;
            align-items: baseline;
            margin-left: 30px;
            font-size: 14px;
            
        }
        
    }
    @include for-size(tablet-only){
        .item:first-child{
            padding-top: 20px;
            font-size: 18px; 
           
        }
        .item{
            display: flex;
            justify-content: center;
            padding-bottom: 16px;
            
         }
    }

    margin-left: auto;
        .link {
 
        font-style: normal;
        font-weight: 500;
        
        line-height: 1.17166;
        letter-spacing: 0.02em;  
        color: inherit;
        text-decoration: none;
    }
}




.link{
    display: block;
    padding-top: 0px;
position: relative;
    font-weight: 500;
    font-style: normal;
    
    line-height: 1.17166;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: inherit;
}




.link:hover,
.link:focus{
    color:$accent-cl;
} 
/* текущая страница - голубого цвета пункт меню*/
.link.current {
color: $accent-cl;
}
.link.current::after{
    // position: absolute;
    // top: 28px;
    @include for-size(mobile){
    position: absolute;
    top: 30px;
    }
    @include for-size(tablet){
        position: absolute;
        top: 44px;
        }
    @include for-size(desktop){
    position: absolute;
    top: 44px;
    }
  
    content: "";
    display: block;
    height: 4px;
 
    // width: 61px;
    background: #2196F3;
    
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}



// .auth-nav .item +.item {
//         margin-left: 0px;
// }

.accent{
    color: $accent-cl;
}

.auth-icon-svg{

    width: 16px;
    height: 16px;
    
    fill: currentColor;
    margin-right: 6px;
}
.item .link{
    display: flex;
    align-items: center;
    // background-color: orchid;
    justify-content: center;
    
}

.site-nav .item + .item{
    margin-left: 0px;         
}
