/********************** оформление текста шапки и подвала***********************/

// .main-nav {
//     position: relative;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
// }
.button-menu{
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
  
    @media screen and (min-width: $tablet){
        display: none;
    }
}


.button-menu .icon-close{
    display: none;
}
.button-menu.is-open .icon-close{
    display: block;
}
.button-menu.is-open .icon-menu{
    display: none;
}
.button-menu:hover .icon-close{
    fill: $accent-cl;
}
.button-menu:hover .icon-menu{
    fill: $accent-cl;
}




.menu-container{

    padding: 0px;
    background-color: $white;
    // background-color: transparent;
    
    
    text-align: center;
    font-size: 18px;
    &.is-open{  
        display: block;
    }

    @media screen and (max-width: 737px){
        display: none;
        height: 393px;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;

    }
    @media screen and (min-width: $tablet){
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
        
    }

}

.navigation{
    
    outline: 1px solid orange;
    // margin: 0;
    // padding: 0;
   
}
.contacts{
    outline: 1px solid green;
    // margin: 0;
    // padding: 0;
    // padding-top: 20px;
    // color: $gray;
}
.navigation, .contacts{
    height: 50px;
    width: 50px;
    }

.webstudio {
    
    display: inline-flex;
    font-family: Raleway;
    font-weight: 700;
    font-style: normal;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    text-decoration: none; /* Отменяем подчеркивание у ссылки */  
    align-items: center;
    
}
.webstudio-header {
    color: $black; 
}

.auth-nav {
    @extend %list;
    @media screen and (min-width:737px){
        padding-top: 60px;
    }
    
    margin-left: auto;
        .link {
        display: flex;
        font-style: normal;
        font-weight: 500;
        
        line-height: 1.17166;
        letter-spacing: 0.02em;  
        color: inherit;
        text-decoration: none;
        // @media screen and (max-width:737px){
        //     padding-bottom: 16px;
        //     font-size: 18px; 
        // }
    
        // @media screen and (min-width:$tablet){
        //     padding-top: 0px;
        //     font-size: 14px;
            
        // }
    }


    // @media screen and (min-width:$tablet){
    //     display: flex;
      
    // }
    // @media screen and (max-width:$tablet){
    //     display: inline-block;
       
    // }
}

.link:hover,
.link:focus{
    color:$accent-cl;
} 
/* текущая страница - голубого цвета пункт меню*/
.link.current {
color: $accent-cl;
}
.link.current::after{
    // position: relative;
    content: "";
    display: block;
    height: 4px;
    // width: 61px;
    background: #2196F3;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
    
    // @media screen and (min-width:$tablet){
    //     top: 32px;
    // }
    // @media screen and (max-width:$tablet){
    //     top: 8px;
    // }
    

}



.auth-nav .item +.item {
 
        margin-left: 0px;
    
}


.site-nav{
    @extend %list;
    
    @media screen and (max-width:737px){
        .item:first-child{
            padding-top: 60px;
        }
    }

.link{
    display: block;
    padding-top: 0px;

    font-weight: 500;
    font-style: normal;
    
    line-height: 1.17166;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: inherit;
  
    // @media screen and (max-width:737px){
      
    //     padding-bottom: 40px; 
    //     font-size: 18px; 
    // }

    // @media screen and (min-width:$tablet){
    //     padding-top: 32px;
    //     font-size: 14px;
        
    // }
 
}
    // @media screen and (min-width:$tablet){
    //     display: flex;
    //     margin-left: 93px;
    // }
    // @media screen and (max-width:$tablet){
    //     display: inline-block;
    //     margin-left: 0px;
    // }

}

.accent{
    color: $accent-cl;
}

.auth-icon-svg{

    width: 16px;
    height: 16px;
    fill: currentColor;
    margin-right: 10px;
}
.item .link{
    display: block;
    align-items: center;
    // background-color: orchid;
    justify-content: center;
    
}

.site-nav .item + .item{
    margin-left: 0px;         
}

