.reviews{
    @media screen and (max-width: 737px) {
        display: none;
    }
}
.reviews-set{
    @extend %list;
    display: flex;
    }
    
    .reviews-item{
        text-align: center;
        padding: 40px;
        color: $white;
        font-size: 48px;
        width: 33.33333%;
        @media screen and (min-width: $desktop) {
            font-size: 64px;
        }
    }
    
    $colors: "#795548","#60708B","#7B1FA2";
    @include colorize($colors,".reviews-item");